body {
  font-size: 14px;
  color: #777a84;
  background-color: #fff;
  letter-spacing: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/previous.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #7ed6df;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 300;
  letter-spacing: 5px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .submain {
  font-size: 30px;
}

.titleMessage .heading .sub {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 100%;
  position: flex;
}

.skillsSection,
 .contactSection {
  background-color: #7ed6df;
  color: #fff;
  font-weight: 80;
  letter-spacing: 2px;
}

.skillsSection h2 {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.aboutImage {
  position: flex;
  margin-top: 10px;
}

.skill {
  text-align: center;
  padding-left: 0;
}

.skill h4 {
  margin-top: 50px;
  /* padding-left: 20px;
  text-align: center; */
}

.portfolioSection {
  background-color: lightgray;
}

#portfolio h2 {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.chart {
  position: relative;
  width: 120px;
  height: 120px;
  display: inline-block;
  text-align: center;
  border: 2px #7ed6df; 
}

.chart canvas {
  position: absolute;
  left: -18px;
  top: 5px;
}

.chart .percent {
  color: #777a84;
  line-height: 152px;
  padding-left: 0;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: '%';
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  justify-content: center;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #7ed6df;
  border-top: none;
  height: 250px;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #7ed6df;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
left: 0px;
}

.squareContent {
  display: inline-block;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #7ed6df;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding-bottom: flex;
  color: #7ed6df;
}

.squareContent h6 {
  font-size:12px;
  font-weight: 600;
  margin: 0;
  padding-top: 10px;
  padding-bottom: flex;
  color: #333;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #7ed6df
}

.contactButton {
  color: #fff;
  font-weight: 500;
  padding: 15px 30px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
}

.btn-linkedin {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #7ed6df;
  background-color: #fff;
}

.footer {
  font-size: 8px;
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding-bottom: flex;
  color: #333;
}

.filter a {
  color: #777a84;
  border: 1px solid #777a84;
  padding: 10px 15px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #7ed6df;
  border-color: #7ed6df;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 10px;

}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease-in-out, 0.5s;
  -moz-transition: all 0.5s ease-in-out, 0.5s;
  -o-transition: all 0.5s ease-in-out, 0.5s;
  -ms-transition: all 0.5s ease-in-out, 0.5s;
  -transition: all 0.5s ease-in-out, 0.5s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.icons {
  position: absolute;
  width: 90px;
  height: 40pcx;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #7ed6df;
  position: relative;
  display: inline-block;

  -webkit-transition: all 0.5s ease-in-out, 0.5s;
  -moz-transition: all 0.5s ease-in-out, 0.5s;
  -o-transition: all 0.5s ease-in-out, 0.5s;
  -ms-transition: all 0.5s ease-in-out, 0.5s;
  -transition: all 0.5s ease-in-out, 0.5s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
  background-color: #777a84;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
	background-color: #7ed6df;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #777a84;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu2.png);
	background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader2.gif) center center no-repeat;
}